.r {
  border-right: 2pt solid black;
}
.b {
  border-bottom: 2pt solid black;
}
.l {
  border-left: 2pt solid black;
}
.t {
  border-top: 2pt solid black;
}
.slowlyAppear {
  animation: slowlyAppear 0.5s linear;
}
.moveRight {
  animation: moveRight 0.5s ease-out;
}
.moveLeft {
  animation: moveLeft 0.5s ease-out;
}
.moveUp {
  animation: moveUp 0.5s ease-out;
}
.moveDown {
  animation: moveDown 0.5s ease-out;
}
.ball_blue {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
  
}
.ball_red {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 120%, #fed5d7, #fb898d 10%, #e0080f 80%, #480205 100%);
}
.ball_blue:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
  -webkit-filter: blur(5px);
  z-index: 2;
}
.ball_red:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
  -webkit-filter: blur(5px);
  z-index: 2;
}
.stage {
  width: 100%;
  height: 100%;
  display: inline-block;
  margin: 0%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
@keyframes slowlyAppear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
/*
@keyframes moveLeft {
  from {position:absolute; top:25%; left:10%; width:50%;height:50%}
  to {position:absolute; top:25%; left:-90%;  width:50%;height:50%}
}
@keyframes moveUp {
  from {position:absolute; top:10%; left:25%; width:50%;height:50%}
  to {position:absolute; top:-90%; left:25%;  width:50%;height:50%}
}
@keyframes moveRight {
  from {position:absolute; top:25%; left:40%;  width:50%;height:50%}
  to {position:absolute; top:25%; left:140%;  width:50%;height:50%}
}
@keyframes moveDown {
  from {position:absolute; top:40%; left:25%;  width:50%;height:50%}
  to {position:absolute; top:140%; left:25%;  width:50%;height:50%}
}
*/

@keyframes moveLeft {
  from {position:absolute; top:25%; left:25%; width:50%;height:50%}
  to {position:absolute; top:25%; left:-75%;  width:50%;height:50%}
}
@keyframes moveUp {
  from {position:absolute; top:25%; left:25%; width:50%;height:50%}
  to {position:absolute; top:-75%; left:25%;  width:50%;height:50%}
}
@keyframes moveRight {
  from {position:absolute; top:25%; left:25%;  width:50%;height:50%}
  to {position:absolute; top:25%; left:125%;  width:50%;height:50%}
}
@keyframes moveDown {
  from {position:absolute; top:25%; left:25%;  width:50%;height:50%}
  to {position:absolute; top:125%; left:25%;  width:50%;height:50%}
}

td {
  padding:0 5px 0 5px;
}

.help-tip {
	position: absolute;
  bottom:5px;
  left: 5px;
  z-index:10;
	text-align: center;
	background-color: #BCDBEA;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-size: 22px;
	line-height: 42px;
	cursor: default;
}
.help-tip:before {
	content:'?';
	font-weight: bold;
	color:#fff;
}
